@import "navbar.css";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--fore-c);
	background: linear-gradient(to right, #e2e2e2, #c9d6ff);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
}

label {
	text-align: left;
}

.container {
	border-radius: 2rem;
	background-color: #fff;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 70% 30%;
	width: 90%;
	height: 80%;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
	overflow: hidden;
}

.container p {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.3px;
	margin: 20px 0;
}

.container span {
	font-size: 12px;
}

.container a {
	color: #333;
	font-size: 13px;
	text-decoration: none;
	margin: 15px 0 10px;
}

.container button {
	background-color: var(--main-c);
	color: #fff;
	font-size: 12px;
	padding: 10px 45px;
	border: 1px solid transparent;
	border-radius: 8px;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	margin-top: 10px;
	cursor: pointer;
}

.container button.hidden {
	background-color: transparent;
	border-color: #fff;
}

.container form {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	height: 100%;
}

.container input {
	background-color: #eee;
	border: none;
	margin: 8px 0;
	padding: 10px 15px;
	font-size: 13px;
	border-radius: 8px;
	width: 100%;
	outline: none;
}
.txt {
	text-align: left;
}

.f-container {
	background-color: #fff;
	color: var(--change-text);
	grid-column: 1;
	grid-row: 1;
	text-align: left;
	transition: all 0.6s ease-in-out;
	overflow: hidden;
}

.s-container {
	color: var(--change-text);
	grid-column: 2;
	grid-row: 1;
	text-align: left;
	border-radius: 150px 0 0 100px;
	background-color: var(--main-c);
	overflow: hidden;
}

.table {
	position: absolute;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 30px;
	text-align: center;
	top: 0;
}

.outer {
	color: var(--change-text);
	background-color: var(--sub-text);
	border-radius: 2rem;
	grid-column: span 2;
	grid-row: 2;
}

.row {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
