@import "navbar.css";

.sub-dashboard {
	width: 95%;
	height: 90%;
	margin: auto 1rem auto 2.3rem;
	justify-self: center;
	align-self: center;
	display: grid;
	grid-template-columns: repeat(3, 33%);
	grid-template-rows: 70% 30%;
	gap: 1rem;
	color: var(--change-text);
}

.personal-info {
	grid-row: span 2;
}

.my-queries {
	grid-row: span 2;
}

.column {
	display: grid;
	grid-template-rows: repeat(10, 9%);
	padding: 20px;
	background-color: var(--fore-c);
	box-shadow: 0 0 5rem var(--shadow-c);
	border: 3px solid var(--border-c);
	border-radius: 15px;
}

.small-column {
	grid-template-rows: repeat(6, 15%);
}

.column h1 {
	justify-self: center;
	margin-bottom: 1rem;
}

.info-item {
	font-size: 1rem;
	border-bottom: 1px solid var(--change-text);
	padding: 1.2rem 1rem 1rem 1.5rem;
}

.right-span {
	float: right;
	padding-right: 1rem;
}

.modify-info {
	cursor: pointer;
}

input {
	width: calc(100% - 16px);
	box-sizing: border-box;
	margin-bottom: 10px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.reset-password {
	background-color: #4caf50;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.reset-password:hover {
	background-color: #45a049;
}
