@import "navbar.css";

.department-sub {
	min-width: 100%;
	min-height: 100%;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 20% 40% 40%;
	grid-template-areas: "p p p" "CS FE IT" "MECH EXTC AIDS";
}

.heading-text {
	color: var(--department-text);
	font-size: 6rem;
	font-weight: 800;
	padding: 1.3rem 0 0 0;
	justify-self: center;
	grid-column: span 3;
}

.button-collection {
	padding: 18px;
}

.BUTTON {
	background-image: var(--main-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	margin: 18px 18px 36px 36px;
	padding: 0 0 18px 0;
	font-size: 4rem;
	border-radius: 24px;
}

.BUTTON a {
	color: var(--change-text);
	cursor: pointer;
	text-decoration: none;
}

.BUTTON a:after {
	content: "\00bb";
	opacity: 0;
	top: 0;
	right: -3rem;
	transition: 0.5s;
}

.BUTTON a:hover {
	padding-right: 3rem;
	transition: 0.5s;
}

.BUTTON a:hover:after {
	opacity: 1;
	right: 0;
}

.CS {
	grid-area: CS;
}

.FE {
	grid-area: FE;
}

.IT {
	grid-area: IT;
}

.MECH {
	grid-area: MECH;
}

.EXTC {
	grid-area: EXTC;
}

.AIDS {
	grid-area: AIDS;
}
