<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>

		<link rel="stylesheet" href="/styles/dashboard.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
			integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer" />
		<script defer src="/scripts/global.js"></script>
	</head>
	<body>
		<div class="logo">
			<button class="toggle-slider" state="close">
				<i class="fa-solid fa-bars"></i>
			</button>
			<span>Nimble Nexus</span>
			<p class="sub-heading">Dashboard</p>
		</div>

		<%- include('components/navbar') %>
		<!-- update from here -->

		<div class="container">
			<div class="sub-container">
				<div class="f-container">
					<form class="info-table">
						<p>Personal information</p>
						<div class="row">
							<label for="name" class="txt">Name: </label>
							<input type="name" placeholder="Name" />
						</div>

						<div class="row">
							<label for="Email" class="txt">Email: </label>
							<input type="email" placeholder="Email" />
						</div>

						<div class="row">
							<label for="Phone" class="txt">Phone: </label>
							<input type="Phone" placeholder="Phone" />
						</div>

						<div class="row">
							<label for="DOB" class="txt">Date of birth: </label>
							<input type="DOB" placeholder="Date of Birth" />
						</div>

						<div class="row">
							<label for="Age" class="txt">Age: </label>
							<input type="Age" placeholder="Age" />
						</div>

						<button class="save">Save</button>
					</form>
				</div>

				<div class="s-container">
					<form class="info-table">
						<p>General information</p>
						<div class="row">
							<label for="Department" class="txt"
								>Department:
							</label>
							<input type="department" placeholder="department" />
						</div>

						<div class="row">
							<label for="Role" class="txt">Role: </label>
							<input type="Role" placeholder="Role" />
						</div>

						<div class="row">
							<label for="Year" class="txt">Year: </label>
							<input type="Year" placeholder="Academic-year" />
						</div>

						<div class="row">
							<label for="Caste" class="txt">Caste:</label>
							<input type="Caste" placeholder="Caste/Category" />
						</div>

						<div class="row">
							<label for="GR_NO" class="txt">GR_NO:</label>
							<input type="GR_NO" placeholder="GR_NO" />
						</div>

						<button class="forgot-pass">Forgot Password</button>
					</form>
				</div>
			</div>

			<div class="outer">
				<p class="heading-outer">My Queries</p>
			</div>
		</div>
	</body>
</html>
