<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>

		<link rel="stylesheet" href="/styles/dashboard.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
			integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer" />
		<script defer src="/scripts/global.js"></script>
	</head>
	<body>
		<div class="logo">
			<button class="toggle-slider" state="close">
				<i class="fa-solid fa-bars"></i>
			</button>
			<span>Nimble Nexus</span>
			<p class="sub-heading">Dashboard</p>
		</div>

		<%- include('components/navbar') %>
		<!-- update from here -->

		<div class="container" id="container">
			<div class="f-container">
				<form>
					<h1>Personal information</h1>
					<div class="row">
						<label for="name" class="txt">Name: </label>
						<input type="name" placeholder="Name" />
					</div>

					<div class="row">
						<label for="Email" class="txt">Email: </label>
						<input type="email" placeholder="Email" />
					</div>

					<div class="row">
						<label for="Phone_no" class="txt">Phone_no: </label>
						<input type="Phone" placeholder="Phone" />
					</div>

					<div class="row">
						<label for="DOB" class="txt">Date_of_birth: </label>
						<input type="DOB" placeholder="Date of Birth" />
					</div>

					<div class="row">
						<label for="Age" class="txt">Age: </label>
						<input type="Age" placeholder="Age" />
					</div>

					<a href="#">Modify details</a>
					<button>Modify</button>
				</form>
			</div>
			<div class="s-container">
				<div class="table">
					<h1>General information</h1>
					<input type="Department" placeholder="Department" />
					<input type="Role" placeholder="Role" />
					<input type="year" placeholder="Academic year" />
					<input type="Caste" placeholder="Caste category" />
					<input type="GR" placeholder="GR No" />

					<button class="hidden" id="register">
						forgot password
					</button>
				</div>
			</div>

			<div class="outer">My Queries</div>
		</div>
	</body>
</html>
