<div class="nav">
	<div class="up-bar">
		<ul>
			<li>
				<a href="/" class="home">
					<i class="fa-solid fa-house"></i>
				</a>
			</li>

			<li>
				<a href="/notice" class="notification">
					<i class="fa-sharp fa-solid fa-bell"></i>
				</a>
			</li>

			<li>
				<a href="/department" class="department">
					<i class="fa-solid fa-warehouse"></i>
				</a>
			</li>

			<li>
				<a href="/queries" class="comments">
					<i class="fa-solid fa-comment"></i>
				</a>
			</li>

			<li>
				<a href="/about">
					<i class="fa-solid fa-circle-info"></i>
				</a>
			</li>

			<li>
				<a href="/admin">
					<i class="fa-solid fa-code"></i>
				</a>
			</li>
		</ul>
	</div>

	<div class="down-bar">
		<ul>
			<li>
				<a href="/dashboard" class="acconut">
					<i class="fa-solid fa-user"></i>
				</a>
			</li>

			<li>
				<button state="close">
					<i class="fa-solid fa-moon nmode"></i>
				</button>
			</li>

			<li>
				<a href="/logout" class="logout">
					<i class="fa-solid fa-sign-out"></i>
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="slider">
	<div class="up-bar">
		<ul>
			<li>
				<a href="/" class="home-nav">
					<i class="fa-solid fa-house"></i>
					Home
				</a>
			</li>

			<li>
				<a href="/notice" class="notification">
					<i class="fa-sharp fa-solid fa-bell"></i>
					Notices
				</a>
			</li>

			<li>
				<a href="/department" class="department">
					<i class="fa-solid fa-warehouse"></i>
					Departments
				</a>
			</li>

			<li>
				<a href="/queries" class="comments">
					<i class="fa-solid fa-comment"></i>
					Queries
				</a>
			</li>

			<li>
				<a href="/about">
					<i class="fa-solid fa-circle-info"></i>
					About
				</a>
			</li>

			<li>
				<a href="/admin">
					<i class="fa-solid fa-code"></i>
					Admin
				</a>
			</li>
		</ul>
	</div>

	<div class="down-bar">
		<ul>
			<li>
				<a href="/dashboard" class="acconut">
					<i class="fa-solid fa-user"></i>
					dashboard
				</a>
			</li>

			<li>
				<button class="mode-switch" state="close">
					<i class="fa-solid fa-moon smode"></i>
					<p id="switch">Dark Mode</p>
				</button>
			</li>

			<li>
				<a href="/logout" class="logout">
					<i class="fa-solid fa-sign-out"></i>
					Log Out
				</a>
			</li>
		</ul>
	</div>
</div>
