<div class="notices">
	<div class="search-bar">
		<div class="search">
			<input type="text" placeholder="Search Notices" />
			<i class="fa-solid fa-magnifying-glass"></i>
		</div>

		<div class="dropdowns">
			<% if (typeof Main_Notice !== 'undefined' && Main_Notice) { %>
			<div class="sub-department">
				<p class="select-department">General</p>
				<i class="fa-solid fa-sort-down"></i>
				<div class="sub-department-content">
					<div
						value="Computer Engineering"
						class="sub-department-item">
						CS
					</div>
					<div value="First Year" class="sub-department-item">FE</div>
					<div
						value="Information Technology"
						class="sub-department-item">
						IT
					</div>
					<div value="Mechanical" class="sub-department-item">
						MECH
					</div>
					<div value="Electronics" class="sub-department-item">
						EXTC
					</div>
					<div value="AI & DS" class="sub-department-item">AIDS</div>
					<div value="All" class="sub-department-item">General</div>
				</div>
			</div>
			<% } %>

			<div class="date">
				<p class="select-date">All Time</p>
				<i class="fa-solid fa-sort-down"></i>
				<div class="date-content">
					<div class="date-item">Today</div>
					<div class="date-item">This Week</div>
					<div class="date-item">This Month</div>
					<div class="date-item">This Year</div>
					<div class="date-item">All Time</div>
				</div>
			</div>
		</div>
	</div>

	<div class="sub-notices">
		<div class="heading-dep">Dep</div>
		<div class="heading-notice">Notices</div>
		<div class="heading-date">Date</div>
		<div class="heading-down">View</div>

		<div
			class="notice-content"
			style="grid-template-rows: repeat(<%= notices.length %>, 10%)">
			<% notices.forEach(notice => { %>
			<div class="notice-data">
				<span><%= notice.department %></span>
				<p><%= notice.title %></p>
				<span
					><% let date = new Date(notice.creation_date); let
					formattedDate = date.getDate() + ' - ' + (date.getMonth() +
					1) + ' - ' + date.getFullYear(); %> <%= formattedDate
					%></span
				>
				<i class="fa-solid fa-download"></i>
			</div>
			<% }); %>
		</div>
	</div>
</div>
