<div class="notices">
	<div class="search-bar">
		<div class="search">
			<input type="text" placeholder="Search Notices" />
			<i class="fa-solid fa-magnifying-glass"></i>
		</div>

		<div class="dropdowns">
			<div class="date">
				<p class="select-date">All Time</p>
				<i class="fa-solid fa-sort-down"></i>
				<div class="date-content">
					<div class="date-item">Today</div>
					<div class="date-item">This Week</div>
					<div class="date-item">This Month</div>
					<div class="date-item">This Year</div>
					<div class="date-item">All Time</div>
				</div>
			</div>
		</div>
	</div>

	<div class="sub-notices">
		<div class="random"></div>
		<div class="heading-notice">Notices</div>
		<div class="heading-date">Date</div>
		<div class="notice-content">
			<div class="notice-data">
				<img src="/images/cess.png" />
				<p>First Notice</p>
				<span>22/10/2023</span>
			</div>

			<div class="notice-data">
				<img src="/images/cess.png" />
				<p>Second Notice</p>
				<span>22/10/2023</span>
			</div>

			<div class="notice-data">
				<img src="/images/cess.png" />
				<p>Third Notice</p>
				<span>22/10/2023</span>
			</div>

			<div class="notice-data">
				<img src="/images/cess.png" />
				<p>Fourth Notice</p>
				<span>22/10/2023</span>
			</div>

			<div class="notice-data">
				<img src="/images/cess.png" />
				<p>Fifth Notice</p>
				<span>22/10/2023</span>
			</div>

			<div class="notice-data">
				<img src="/images/cess.png" />
				<p>Sixth Notice</p>
				<span>22/10/2023</span>
			</div>

			<div class="notice-data">
				<img src="/images/cess.png" />
				<p>Seventh Notice</p>
				<span>22/10/2023</span>
			</div>
		</div>
	</div>
</div>
